<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add post</title>
  </head>
  <body>
    <% if (currUser) { %>
    <h1><%= currUser.userName %></h1>
    <h1><%= sessions %></h1>
    <% } %>
    <h1>Welcome to add user page</h1>

    <form method="post" action="/signup">
      User Name :
      <input type="text" name="userName" placeholder="user name" id="" />
      User latitude :
      <input type="text" name="latitude" placeholder="enter lati" /><br /><br />
      Email longitude :
      <input
        type="text"
        name="longitude"
        placeholder="enter longi"
      /><br /><br />

      <input type="email" name="email" placeholder="email" id="" />
      <input type="password" name="password" placeholder="password" id="" />
      <button type="submit">Submit</button>
    </form>
    <h1>Get Current Location</h1>
    <button id="getLocationBtn">Get Location</button>
    <p id="locationDisplay"></p>

    <script>
      document
        .getElementById("getLocationBtn")
        .addEventListener("click", () => {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
              (position) => {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                document.getElementById(
                  "locationDisplay"
                ).textContent = `Latitude: ${latitude}, Longitude: ${longitude}`;
              },
              (error) => {
                console.error("Error getting location:", error.message);
                document.getElementById("locationDisplay").textContent =
                  "Error getting location. Please try again.";
              }
            );
          } else {
            document.getElementById("locationDisplay").textContent =
              "Geolocation is not supported by this browser.";
          }
        });
    </script>
  </body>
</html>
